* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* common style */

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 1440px;
    margin: 0 auto;

}

.o-color {
    color: #FF42A5;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    border: 0px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    gap: 10px;
    cursor: pointer;


}



/* nav style */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;

}

nav>div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-titel {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

nav a {
    text-decoration: none;
    color: #3C354F;
}

.nav-box {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 17px 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

}


/* banner style */
.banner-bg {
    position: absolute;
    top: 0px;
    left: -200px;
    z-index: -1;
}

.banner-bap {
    position: relative;
}

.banner .banner-bap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.banner-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-title-main {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 24px;
}

.banner-pera {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    padding-bottom: 17px;
}


/* we-game style */
.we-game {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.we-titel {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
}

.we-pera {
    width: 520px;
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 32px;

}

.button-box {
    display: flex;
    justify-content: right;
}

.btn {
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.we-pera-2 {
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    padding-top: 24px;
}

.we-pera-3 {
    color: #534C64;
    text-align: right;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;

}

/* online-game section style */
.card-all {
    display: flex;
    gap: 24px;
}

.section-titel {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    padding-top: 120px;
}

.section-pera {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 48px;
}

.card {
    width: 342px;
}

.c-1 {
    width: 100%;
    height: 400px;
    position: relative;
}

.card-all .c-1 .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 2, 35, 0.600);
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 16px;
    opacity: 0;
    transition: all linear 0.3s;
    cursor: pointer;
}

.c-1:hover .overlay {
    opacity: 1;
    border: 5px solid #F948B2;
}

.b-1 i {
    font-size: 60px;
}

.card p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

/* play section style */
.play-bap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.angle-img {
    position: relative;
    bottom: 290px;
    right: 173px;
}

.Featur-img {
    display: flex;
    flex-direction: column;
    padding-top: 120px;

}


.play-titel {
    width: 353px;
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #0B0223;
}

.play-pera {
    width: 353px;
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* section box style */
.box-bap .box {
    display: flex;
    align-items: center;

}

.box-bap {
    padding-bottom: 120px;
}

.box-bap-1 {
    display: grid;
    grid-template-columns: repeat(5, 281px);
    justify-content: center;
    text-align: center;
    padding-bottom: 27px;

}

.box-bap-2 {
    display: grid;
    grid-template-columns: repeat(4, 281px);
    justify-content: center;
    text-align: center;

}

.box img {
    border-radius: 50px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.box p {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

.box {
    border-radius: 50px;
    background: #FFF;
    justify-content: center;
}

.box:hover {
    border: 1px solid #F948B2;
    padding: 9px 19px;


}
.box:hover p{
    color: #F948B2;
}


.box:hover .box-bap-1 {
    grid-template-columns: repeat(5, 280px);

}

.box:hover .box-bap-2 {
    grid-template-columns: repeat(4, 280px);

}




/* footer style */
footer {
    background: #0B0223;
}

footer a {
    text-decoration: none;
    color: #FFF;
}

.footer-titel {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 120px;
}

.footer-more {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    gap: 60px;
    color: #FFF;
    padding-top: 56px;
}

.Social {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-top: 70px;
}

.footer-more-new {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    gap: 100px;
    color: #FFF;
    padding-top: 56px;

}



footer h4 {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 130px;
}



@media screen and (max-width:481px) {
    .container {
        width: 100%;
    }

    nav {
        flex-direction: column;
    }

    nav>ul {
        flex-direction: column;
        padding-top: 60px;
    }

    nav li {
        margin-right: 0px;
        padding-bottom: 60px;
    }

    .banner .banner-bap {
        flex-direction: column-reverse;
        padding: 70px 20px;
    }

    .banner-img {
        padding-bottom: 100px;
    }

    .we-img img {
        width: 400px;
        padding-top: 36px;
        padding-bottom: 60px;
    }

    .we-game {
        flex-direction: column;

    }

    .we-bap,
    .we-titel,
    .we-pera {
        text-align: center;
    }

    .we-pera {
        width: auto;
    }

    .button-box {
        justify-content: center;
    }

    .we-pera-2,
    .we-pera-3 {
        text-align: center;
    }

    .card-all {
        flex-direction: column;
        align-items: center;

    }

    .card {
        justify-content: center;

    }

    .card p {
        text-align: center;
    }

    .play-bap {
        flex-direction: column;

    }

    .play-titel,
    .play-pera {
        text-align: center;
        padding-top: 41px;
    }

    .Featur-img {
        align-items: center;
    }

    .Featur-img img {
        width: 80%;
    }

    .angle-img img {
        width: 40%;
        position: relative;
        top: 200px;
        left: 130px;

    }

    .footer-more {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-items: center;
    }

    .social-bap {
        display: flex;
        justify-content: center;
    }

    .Social {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
    }

    .footer-more-new {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;

    }
    footer h4 {
        padding-top: 50px;
    }
    .box-bap-1{
        grid-template-columns: repeat(1 , 280px);
        gap: 30px;
        justify-items: center;
    }
    .box-bap-2{
        grid-template-columns: repeat(1 , 280px);
        gap: 30px;
        justify-items: center;

    }
}
